html {
    scroll-behavior: smooth;
}

head {
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
}

body {
    background-color: #ffecab;
    margin: 20px;
}

.h1 {
    background-color: #732c16;
    color: #ffecab;
    font-size: 200%;
    font-family: gill sans;
    text-align: center;
}

.h2 {
    font-size: 150%;
    font-family: serif;
    text-align: center;
    color: black;
}

.h3 {
    border-top: 1px solid #732c16;
    padding-top: 10px;
    font-size: 120%;
    font-family: serif;
}

.p {
    font-size: 100%;
    font-family: gill sans;
    margin-top: 2rem;
}

.p2 {
    font-family: trebuchet ms;
    text-align: justify;
}

/* .form-input {
    background-color: #ffecab;
    margin-left: 2rem;
}

.formulir {
    display: flex;
    justify-content: center;
    max-width: 600px;
} */

/* style table */
.center-table {
    margin-left: auto;
    margin-right: auto;
}

.table1, .td1 {
    border-style: none;
    padding-left: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Segoe UI', sans-serif;
}

.table2, .th2 {
    border:1px solid #732c16;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 5px;
}

.td2 {
    border:1px solid #732c16;
    font-family: 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* style navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 7%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    position: relative;
    border-bottom: 1px solid black;
    background-color: #ffecab;
}

.navbar a {
    color: #732c16;
    font-family: trebuchet ms;
    font-size: 110%;
    margin: 0 1rem;
    display: inline-block;
    text-decoration: none;
    border-right:1px solid #732c16;
    padding-right: 20px;
}

.dashed {
    border-style: dashed;
    border-color: #732c16;
    border-width: 1px;
    padding-top: 5px;
}

#footer {
    background-color: #732c16;
    color:#ffecab;
    font-family: trebuchet ms;
    text-align: justify;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 20px;
}